.grid-container {
  display: grid;
  grid-template-areas:
    'input graphic graphic graphic graphic graphic'
    'input graphic graphic graphic graphic graphic'
    'input graphic graphic graphic graphic graphic'
    'timeLine timeLine timeLine timeLine timeLine timeLine';
  padding: 33px;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 10px;
  font-size: 30px;
}

.input {
  grid-area: input;
  display: inline-grid;
  border: solid 1px #cfcfcf;
  border-radius: 13px 0px 0px
}

.graphic {
  grid-area: graphic;
  border: solid 1px #cfcfcf;
  border-radius: 0px 10px 0px 0px;
}

.timeLine {
  grid-area: timeLine;
  border: solid 1px #cfcfcf;
  border-radius: 0px 0px 10px 10px
}




.input div {
  display: inline-flex;
  width: 100%;
  padding: 0.3vmin;
  height: 68%;
}

.input-matrix {
  margin-left: 16.4vmin !important;
  border-radius: 10px;
  border: solid 1px #0000007d;
  width: 17vmin;
  padding: 0.4vmin;
}

.input-time {
  margin-left: 3vmin !important;
  border-radius: 10px;
  border: solid 1px #0000007d;
  width: 17vmin;
  padding: 0.4vmin;
}

.input div label {
  font-size: 19px;
}